/* Main Section Code Below */
* {
    margin: 0 auto;
    padding: 0px;
}

div#services {
    background: #f7f6f6;
    text-align: center;
    font-family: 'Metal Mania';
    padding: 25px;
    overflow: hidden;
}

.ServiceInner h2 {
    font-size: 35px;
    color: #000000;
}

.ServiceInner p {
    font-size: 25px;
    padding: 20px;
    color: #313d4a;
    margin-bottom: 20px;
}

div#serviceMainBlock {
    text-align: center;
    margin: auto;
    display: inline-flex;
}

.ServiceBox {
    float: left;
    display: inline-block;
    width: 30%;
}

.ServiceBox.web i {
    color: white;
    background: #FF3A46;
    text-align: center;
    border-radius: 50%;
    padding: 18px;
    margin: 15px;
}

.ServiceBox.web {
    background: white;
    padding: 30px 10px;
}

.ServiceBox.web p {
    font-size: 20px;
    padding: 41px;
}

.ServiceBox.web h2 {
    color: #ff3a46;
}

/* Graphic */
.ServiceBox.graphic i {
    color: white;
    background: #00A0F0;
    text-align: center;
    border-radius: 50%;
    padding: 18px;
    margin: 15px;
}

.ServiceBox.graphic {
    background: white;
    padding: 30px 10px;
}

.ServiceBox.graphic p {
    font-size: 20px;
    padding: 41px;
}

.ServiceBox.graphic h2 {
    color: #00A0F0;
}

/* SEO */
.ServiceBox.seo i {
    color: white;
    background: #00EBAC;
    text-align: center;
    border-radius: 50%;
    padding: 18px;
    margin: 15px;
}

.ServiceBox.seo {
    background: white;
    padding: 30px 10px;
}

.ServiceBox.seo p {
    font-size: 20px;
    padding: 41px;
}

.ServiceBox.seo h2 {
    color: #00EBAC;
}

.ServiceBox {
    box-shadow: 4px 4px 20px #afafaf;
    transition-duration: 0.6s;
}

.fa {
    font-size: 25px;
}

.ServiceBox.web:hover {
    box-shadow: -3px 3px 15px #FF3A46;
    cursor: pointer;
}

.ServiceBox.graphic:hover {
    box-shadow: -3px 3px 15px #00A0F0;
    cursor: pointer;
}

.ServiceBox.seo:hover {
    box-shadow: -3px 3px 15px #00EBAC;
    cursor: pointer;
}

.ServiceBox p {
    color: #3a3939;
}

.btngroup {
    margin-right: 30px;
}