{% extends 'base.html' %}


{% block title %}
Faq
{% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
<div class="container">
    <h1>F.A.Q.</h1>
    <details>
        <summary>Question 1</summary>
        <p>Just use a <code>details</code> and <code>summary</code> tags with a little CSS, no more JS. You can use any
            text or emoji as caret.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora in nihil, deleniti saepe optio corrupti
            dolorum perferendis hic iure, maiores quae vitae provident minus, ipsum, aut tempore facilis doloremque rem.
        </p>
        <p><strong>Do I was helpfull? Help me too ;) <a
                    href="https://www.paypal.com/donate/?hosted_button_id=NZ9Z8YDHSMMEC" target="_blank"
                    rel="noopener">Paypal</a></strong></p>
    </details>
    <details>
        <summary>Question 2</summary>
        <p>Ipsa veritatis inventore reprehenderit dolorem, officiis. Quaerat doloribus voluptatibus impedit repellat
            quae perspiciatis nesciunt, recusandae facilis unde fugit et eaque rem voluptatum perferendis libero veniam
            rerum aliquam eos minima voluptate.</p>
    </details>
    <details>
        <summary>Question 3</summary>
        <p>Quisquam, necessitatibus quo dolore sequi suscipit magni, voluptatum debitis, accusantium dolorum officia
            beatae rerum similique optio saepe vel dicta facere modi, voluptatem culpa expedita quaerat eum
            reprehenderit dolores. Assumenda, doloremque!</p>
    </details>
    <details>
        <summary>Question 4</summary>
        <p>Dolorum quaerat facilis magnam commodi molestiae atque similique hic enim pariatur nulla magni amet iusto
            soluta nemo alias odit recusandae repudiandae dignissimos, fugit asperiores quia eius necessitatibus iure.
            Possimus, illum.</p>
    </details>
    <details>
        <summary>Question 5</summary>
        <p>Consequuntur voluptate consequatur sed adipisci libero temporibus atque itaque voluptas eos, rerum vero qui.
            Adipisci illum, molestias commodi unde necessitatibus ea, quod explicabo, deleniti voluptatem aliquam
            reprehenderit, nobis maiores. Saepe?</p>
    </details>

    <div class="donate">
        <p>Help me with a <a href="https://www.paypal.com/donate/?hosted_button_id=NZ9Z8YDHSMMEC" target="_blank"
                rel="noopener">donation in Paypal</a></p>
    </div>
</div>
<script src="{% static 'js/jquery-3.6.0.min' %}">
    $(".accordion__title.active").next().slideDown();
    $(".accordion__title").on("click", function () {
        if ($(this).hasClass('active')) {
            $(this).removeClass("active").next().slideUp();
        } else {
            $(".accordion__title.active").removeClass("active").next(".accordion__body").slideUp();
            $(this).addClass('active').next('.accordion__body').slideDown();
        }
    });
</script>
{% endblock %}