{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<!-- ==========Services Start========== -->
<secion id="mainWrapper">
    <div id="services">
        <!-- Inner Start -->
        <div class="ServiceInner">
            <h2> SERVICES </h2>
            <p> Bangladeshi No.1 Web Development Company. <br />
                We Provide Web Related Solution And Support.
            </p>
        </div>
        <!-- Inner End -->

        <!-- services Block -->
        <div id="serviceMainBlock">
            <div class="ServiceBox web">
                <i class="fa fa-code" aria-hidden="true"></i>
                <h2> WEB DEVELOPMENT </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga possimus explicabo veniam nobis est
                    quibusdam quas expedita, pariatur illum rem. Lorem ipsum dolor sit amet.
                </p>
            </div>
            <!-- Web End -->

            <div class="ServiceBox graphic">
                <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
                <h2> Graphic Design </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quaerat minima, itaque,
                    necessitatibus aut cumque alias animi in, mollitia voluptas numquam quis quas laudantium assumenda?
                </p>
            </div>
            <!-- Graphic End -->

            <div class="ServiceBox seo">
                <i class="fa fa-book" aria-hidden="true"></i>
                <h2> SEO </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis impedit dignissimos aut eveniet,
                    sunt ex, soluta fugiat odit tempore architecto fuga facere! Lorem ipsum dolor.
                </p>
            </div>
            <!-- SEO -->

        </div>

    </div>
</secion>

{% endblock %}